<!DOCTYPE html>
<html lang="cs">
  <%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/index.css">
  <body>
    <%- include("./partials/header.ejs", {heading: "Všechny lekce", subtitle:
    "Vytvořili Kryštof Bruthans a Vojtěch Habeš", button: false, imageUrl:
    null}) %>

    <div class="content">
      <h2>Všechny lekce</h2>
      <div id="lessongrid">
        <% lessons.forEach(function(lesson){%>
        <div
          style="background-image: url(../images/cover/<%=lesson._id%>.webp)"
        >
          <h3><%=lesson.title%></h3>
          <button onclick="location.href='/lessons/<%=lesson._id%>'">
            Přejít na lekci<span class="material-symbols-rounded"
              >arrow_forward</span
            >
          </button>
        </div>
        <%})%>
      </div>
    </div>
  </body>
</html>
