<!DOCTYPE html>
<html lang="cs">
  <head>
    <%-include("./partials/head.ejs")%>
  </head>
  <body>
    <%-include("./partials/header.ejs", {heading: "Skripta HAR",
    subtitle:"Vytvořili Kryštof Bruthans a Vojtěch Habeš"})%>

    <div class="content">
      <h2>Všechny lekce</h2>
      <div id="lessongrid">
        <%for (let index = 0; index < lessons.length; index++) {%>
        <div style="background-image: url(/images/<%=lessons[index].image%>)">
          <h3><%=lessons[index].title%></h3>
          <button onclick="location.href='/lesson/<%=index%>'">
            Přejít na lekci
            <span class="material-symbols-rounded">arrow_forward</span>
          </button>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
