<!DOCTYPE html>
<html lang="cs">
  <%- include("./partials/head.ejs") %>

  <body onload="SetQuiz('<%=JSON.stringify(lesson.quiz)%>')">
    <%- include("./partials/header.ejs", {heading: lesson.title, button: true,
    subtitle: null, imageUrl: `../images/cover/${lesson._id}.webp`}) %>

    <div class="content">
      <p class="chip">
        <span class="material-symbols-rounded">person</span><%=lesson.author%>
      </p>
      <%- converter.makeHtml(lesson.content) %>
      <% if (lesson.quiz.length != 0) { %>
      <%- include("./partials/quiz.ejs")%>
      <%}%>
    <script src="/scripts/quiz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>
  </body>
</html>
